<h1>Chef verteilt Aufgaben</h1>
<table>
  <thead>
    <td>TID</td>
    <td>Aufgabe</td>
    <td>Status</td>
    <td>Mitarbeiter</td>
  </thead>
  <tbody>
    <tr *ngFor = "let todo of db.todos">
      <td>{{todo.tid}}</td>
      <td>{{todo.text}}</td>
      <td>{{todo.status | status}}</td>
      <td>{{todo.pid | getName}}</td>
      <td><button (click)="deleteTodoEvent(todo.tid)">delete</button></td>
    </tr>
  </tbody>
  <tfoot>
    <td></td>
    <td><input type="text" #aufgabe></td>
    <td></td>
    <td>
      <label>Person: </label>
      <select name="person" #person>
        <option *ngFor = "let person of db.persons" value="{{person.pid}}">{{person.firstname}} {{person.lastname}}</option>
      </select></td>
    <td><button (click)="insertTodoEvent(aufgabe.value,person.value)">neu</button></td>
  </tfoot>
</table>
